name: Test Docker Image CI

on:

  #push:
  #  branches: [ "main" ]

  schedule:
   - cron: "0 1 * * *"
  #- cron: "0 0 0 * *"
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile3  --tag cpolarv1:latest
        docker run  --cap-add=NET_ADMIN -e PORT=8080  -e ID=${{ secrets.ID }} -e WSPATH=1ws  cpolarv1:latest
